<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<nav class="navbar">
    <div class="logo">
    <img src="{{ url_for('static', filename='images/AS_logo.png') }}" alt="Anam profile">
</div>


    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        
        
    </div>
</nav>
<body>

<section class="page-header">
    <h1>Contact</h1>
    <p>Let’s connect professionally</p>
</section>

<section class="content-card">
    <p><strong>Email: <a href="shkanam34@gmail.com/"> shkanam34@gmail.com</a> </strong></p>
    <p><strong>LinkedIn: <a href="https://www.linkedin.com/in/anam-s-3b5166184/">Anam Shaikh</a></strong></p>
    <p><strong>Location:</strong> Bangalore, India</p>
    <p><strong>Phone:</strong> +91-8482854812</p>
</section>

<a class="back-link" href="/">← Back to Home</a>

</body>


</html>
