name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest

      - name: Build Docker image with commit SHA
        run: |
          docker build \
            -t portfolio-website:${{ github.sha }} \
            -t portfolio-website:latest \
            .


      - name: Validate Python syntax
        run: python -m py_compile app.py
